{% extends 'base.html' %}
{% load static %}
{% block title %}
    إضافة فاتورة شـــــــراء
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'sneat/vendor/libs/select2/select2.css' %}">
{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Layout Demo -->
            {% include 'purchases/includes/navbar.html' with which_nav="purchase_invoices" is_add_purchase_invoice=True %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="mb-0">إضافة فاتورة شـــــــراء جديد</h5>
                </div>
                <div class="card-body">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="branch_name_choose_input" class="form-label">اختر الفرع</label>
                                    <select class="form-select"
                                            id="branch_name_choose_input"
                                            name="branch_name_choose_input"
                                            aria-label="Default select example required">
                                        <option disabled hidden selected>قائمة الأفرع</option>
                                        {% for branch in branches %}
                                            <option value="{{ branch.id }}">{{ branch.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="supplier_choose_input" class="form-label">اختر المورد</label>
                                    <select class="form-select"
                                            id="supplier_choose_input"
                                            name="supplier_choose_input"
                                            aria-label="Default select example required">
                                        <option disabled hidden selected>قائمة الموردين</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="purchase_channel_choose_input" class="form-label">اختر قناة
                                        التوزيع</label>
                                    <select class="form-select"
                                            id="purchase_channel_choose_input"
                                            name="purchase_channel_choose_input"
                                            aria-label="Default select example required">
                                        <option disabled hidden selected>قائمة قنوات التوزيع</option>
                                        {% for channel in  channels %}
                                            <option value="{{ channel.id }}">{{ channel.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'sneat/vendor/libs/select2/select2.js' %}"></script>
    <script>
        const branch_name_choose_input = $('#branch_name_choose_input')
        const supplier_choose_input = $('#supplier_choose_input')
        const purchase_channel_choose_input = $('#purchase_channel_choose_input')
        branch_name_choose_input.select2();
        supplier_choose_input.select2();
        purchase_channel_choose_input.select2();

        supplier_choose_input.prop("disabled", true)
    </script>
{% endblock %}