{% extends 'base.html' %}
{% load static %}
{% block title %}
    إضافة منتجات
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'sneat/vendor/libs/select2/select2.css' %}">
{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Layout Demo -->
            {% include 'inventory/products/../includes/navbar.html' with which_nav="products" is_add_products=True %}

            <div class="card mb-4">
                <h5 class="card-header">إضافة منتج جديد</h5>
                <div class="card-body">
                    <form action="{% url 'inventory:add_products' %}" method="POST">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="product_name_input" class="form-label">أسم المنتج</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="product_name_input"
                                            name="product_name_input"
                                    />
                                </div>

                            </div>
                            <div class="col">

                                <div class="mb-3">
                                    <label for="brand_choose_input" class="form-label">اختر الماركات</label>
                                    <select id="brand_choose_input"
                                            name="brand_choose_input"
                                            class="select2 form-select form-select-lg" data-allow-clear="false">
                                        <option disabled hidden selected value="">ابحث عن ماركة...</option>
                                        {% for brand in brands %}

                                            <option value="{{ brand.id }}">{{ brand.name }}</option>

                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                            <div class="col">

                                <div class="mb-3">
                                    <label for="category_choose_input" class="form-label">اختر النوع</label>
                                    <select class="form-select"
                                            id="category_choose_input"
                                            name="category_choose_input"
                                            aria-label="Default select example">
                                        <option disabled hidden selected>قائمة الأنواع</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}


                                    </select>
                                </div>

                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary m-2">إضافة</button>
                    </form>
                    <div class="row">
                        <hr>
                        <h5 class="card-header">جدول بآخر 10 منتجات تمت إضافتها</h5>
                        <div class="table-responsive text-nowrap mini-table-container">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>الأسم</th>
                                    <th>الماركة</th>
                                    <th>النوع</th>
                                    <th>أجراءات</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>
                                            <strong>{{ product.name }}</strong>
                                        </td>
                                        <td>
                                            <strong>{{ product.brand }}</strong>
                                        </td>
                                        <td>
                                            <strong>{{ product.category }}</strong>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                        data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a data-bs-toggle="modal"
                                                       data-bs-target="#edit_product_modal"
                                                       data-bs-product-name="{{ product.name }}"
                                                       data-bs-product-id="{{ product.id }}"
                                                       id="edit_product"
                                                       class="dropdown-item" href="javascript:void(0);">
                                                        <i class="bx bx-edit-alt me-1"></i>
                                                        تعديل
                                                    </a> <a class="dropdown-item"
                                                            href="{% url 'inventory:delete_product' product.id %}"
                                                ><i class="bx bx-trash me-1"></i> حذف</a
                                                >
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

            <!--/ Layout Demo -->
        </div>
        <!-- / Content -->


        <div class="content-backdrop fade"></div>
    </div>
    <div class="modal fade" id="edit_product_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">تعديل المنتج</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url "inventory:edit_product" %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="edited_product_id_input" id="edited_product_id_input">
                        <div class="row">
                            <div class="col-8 m-2">
                                <label for="edited_product_name_input" class="form-label">إسم المنتج</label>
                                <input type="text" class="form-control" name="edited_product_name_input"
                                       id="edited_product_name_input" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-2">
                                <label for="edited_brand_search_choose_input" class="form-label">الماركات</label>
                                <select id="edited_brand_search_choose_input"
                                        name="edited_brand_search_choose_input"
                                        class="select2 form-select form-select-lg" data-allow-clear="false">
                                    <option disabled hidden selected value="">قائمة الماركات</option>
                                    {% for brand in brands %}
                                        <option value="{{ brand.id }}">{{ brand.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col m-2">
                                <label for="edited_category_search_choose_input" class="form-label">النوع</label>
                                <select id="edited_category_search_choose_input"
                                        name="edited_category_search_choose_input"
                                        class="select2 form-select form-select-lg" data-allow-clear="false">
                                    <option disabled hidden selected value="">قائمة الأنواع</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                        <button type="submit" class="btn btn-primary">حفظ التغييرات</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'sneat/vendor/libs/select2/select2.js' %}"></script>
    <script>
        $("#brand_choose_input").select2()
        $("#category_choose_input").select2()
        const editProductModal = $("#edit_product_modal")
        editProductModal.on('show.bs.modal', (e) => {
            const target = e.relatedTarget
            const productId = target.dataset.bsProductId
            const productName = target.dataset.bsProductName
            const editedProductNameInput = editProductModal.find('#edited_product_name_input')
            const editedProductIdInput = editProductModal.find('#edited_product_id_input')
            const editedCategorySelect = editProductModal.find('#edited_category_search_choose_input')
            const editedBrandSelect = editProductModal.find('#edited_brand_search_choose_input')

            editedCategorySelect.select2({
                dropdownParent: editProductModal
            })
            editedBrandSelect.select2({
                dropdownParent: editProductModal
            })

            editedProductNameInput.val(productName)
            editedProductIdInput.val(productId)
        })

    </script>
{% endblock %}