{% if which_nav == 'expenses' %}
    {% if is_search_expenses %}
        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">التكاليف/ </span> قائمة المصروفات</h4>
    {% elif is_add_expenses %}
        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">التكاليف/ </span> إضافة مصروف</h4>
    {% elif is_others_expenses %}
        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">التكاليف/ </span> اخرى</h4>
    {% endif %}
{% endif %}
{#{% if which_nav == 'purchase_invoices' %}#}
{#    {% if is_search_purchase_invoice %}#}
{#        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">فواتير الشـــــــراء/ </span> قائمة الفواتير</h4>#}
{#    {% elif is_add_purchase_invoice %}#}
{#        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">فواتير الشـــــــراء/ </span> إضافة فاتورة</h4>#}
{#    {% elif is_others_purchase_invoice %}#}
{#        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">فواتير الشـــــــراء/ </span> اخرى</h4>#}
{#    {% endif %}#}
{#{% endif %}#}