<nav class="navbar navbar-example navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-ex-3"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if which_nav == 'customers' %}
            <div class="collapse navbar-collapse" id="navbar-ex-3">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link  {% if is_search_customers %} active {% endif %}"
                       href="{% url 'sales:search_customer' %}">قائمة العملاء</a>
                    <a class="nav-item nav-link{% if is_add_customer %} active {% endif %}"
                       href="{% url 'sales:add_customer' %}">إضافة عميل</a>
                    <a class="nav-item nav-link{% if is_others_customers %} active {% endif %}"
                       href="{% url 'sales:customer_others' %}">اخرى</a>

                </div>
            </div>
        {% endif %}
        {% if which_nav == "sales_invoices" %}
            <div class="collapse navbar-collapse" id="navbar-ex-3">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link  {% if is_search_sale_invoice %} active {% endif %}"
                       href="#">قائمة الفواتير</a>
                    <a class="nav-item nav-link{% if is_add_sale_invoice %} active {% endif %}"
                       href="#">إضافة فاتورة</a>
                    <a class="nav-item nav-link{% if is_edit_price_list %} active {% endif %}"
                       href="#">تعديل قائمة الأسعار</a>
                    <a class="nav-item nav-link{% if is_others_sale_invoice %} active {% endif %}"
                       href="#">اخرى</a>
                </div>
            </div>
        {% endif %}
    </div>
</nav>
{% include 'sales/includes/navribbon.html' %}

