<nav class="navbar navbar-example navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-ex-3"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if which_nav == 'user_details' %}
            <div class="collapse navbar-collapse" id="navbar-ex-3">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link  {% if is_user_detalis %} active {% endif %}"
                       href="{% url "human_resources:users_details" %}">قائمة الموظفين</a>
                    <a class="nav-item nav-link{% if is_user_accounts %} active {% endif %}"
                       href="{% url "human_resources:user_accounts" %}">حسابات الموظفين</a>
                    <a class="nav-item nav-link{% if is_add_user %} active {% endif %}"
                       href="{% url "human_resources:add_user" %}">إضافة موظف</a>
                    <a class="nav-item nav-link{% if is_other_settings %} active {% endif %}"
                       href="{% url "human_resources:other_settings" %}">إعدادات أخرى</a>
                </div>
            </div>
        {% endif %}
        {% if which_nav == "branches" %}
            <div class="collapse navbar-collapse" id="navbar-ex-3">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link  {% if is_branch_settings %} active {% endif %}"
                       href="{% url "inventory:branches_settings" %}">إعدادات الافرع</a>
                    <a class="nav-item nav-link{% if is_add_branch %} active {% endif %}"
                       href="{% url "inventory:add_branch" %}">إضافة فرع</a>
                    <a class="nav-item nav-link{% if is_branch_employee %} active {% endif %}"
                       href="{% url "inventory:add_employee_to_branch" %}">موظفين الافرع</a>
                </div>
            </div>
        {% endif %}
    </div>
</nav>
{% include 'human_resources/includes/navribbon.html' %}

