{% if which_nav == 'products' %}
    {% if is_product %}
        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">المخازن/ </span> المنتجات</h4>
    {% elif is_add_products %}
        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">المخازن/ </span>إضافة منتجات</h4>
    {% elif is_brand %}
        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">المخازن/ </span> الماركات و الأنواع</h4>
    {% endif %}
{% endif %}
{% if which_nav == 'user_details' %}
    {% if is_user_detalis %}
        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">الموظفين/ </span> قائمة الموظفين</h4>
    {% elif is_user_accounts %}
        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">الموظفين/ </span> حسابات الموظفين</h4>
    {% elif is_add_user %}
        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">الموظفين/ </span> إضافة موظف</h4>
    {% elif is_other_settings %}
        <h4 class="fw-bold py-3 m-4"><span class="text-muted fw-light">الموظفين/ </span> إعدادات أخرى</h4>
    {% endif %}
{% endif %}