{% extends 'base.html' %}
{% block title %}
    تعديل و اضافة المنتجات
{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Layout Demo -->
            {% include 'inventory/includes/navbar.html' with is_brand=False  is_product=False is_edit_products=True %}
            <div class="layout-demo-wrapper">
            </div>
            <!--/ Layout Demo -->
        </div>
        <!-- / Content -->


        <div class="content-backdrop fade"></div>
    </div>

{% endblock %}