{% extends 'base.html' %}
{% block title %}
    المنتجات
{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Layout Demo -->
            {% include 'inventory/includes/navbar.html' with is_brand=False  is_product=True is_add_products=False %}
            <div class="row">
                <div class="col-xl">
                    <div class="card mb-4">
                        <div class="card-header col">
                            <div class="row mb-4">
                                <h5 class="mb-0">ابحث عن منتج</h5>
                            </div>
                            <div class="row my-4">
                                <small class="text-muted">يمكنك البحث باستخدام خانة واحدة أو اكثر</small>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="mb-3 col">
                                        <label class="form-label" for="basic-default-fullname">اسم المنتج</label>
                                        <input type="text" class="form-control" id="basic-default-fullname"
                                        />
                                    </div>
                                    <div class="mb-3 col">
                                        <label class="form-label" for="basic-default-fullname">الماركات</label>
                                        <input type="text" class="form-control" id="basic-default-fullname"
                                               placeholder="اختر الماركة"/>
                                    </div>
                                    <div class="mb-3 col">
                                        <label class="form-label" for="basic-default-fullname">النوع</label>
                                        <input type="text" class="form-control" id="basic-default-fullname"
                                               placeholder="اختر النوع"/>
                                    </div>

                                </div>
                                <div class="d-flex flex-column justify-content-start ">
                                    <div class="flex-row justify-content-start my-3">
                                        <h5 class="mb-0">تاريخ انتهاء الصلاحية</h5>
                                    </div>
                                    <div class="flex-row d-flex justify-content-">

                                        <div class="mb-3 flex-lg-column mx-3">
                                            <label for="expire_date_from_input" class="col col-form-label">التاريخ
                                                من</label>
                                            <div class="col">
                                                <input class="form-control" type="date" value="يوم/شهر/سنه"
                                                       id="expire_date_from_input"
                                                       name="expire_date_from_input"
                                                />
                                            </div>
                                        </div>
                                        <div class="mb-3 flex-lg-column mx-3">
                                            <label for="expire_date_to_input" class="col col-form-label">تاريخ
                                                إلى</label>
                                            <div class="col">
                                                <input class="form-control" type="date" value="يوم/شهر/سنه"
                                                       id="expire_date_to_input"
                                                       name="expire_date_to_input"
                                                />
                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <button type="submit" class="btn btn-primary">بحث</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!--/ Layout Demo -->
        </div>
        <!-- / Content -->


        <div class="content-backdrop fade"></div>
    </div>

{% endblock %}