{% extends 'base.html' %}
{% load static %}
{% block title %}
    المنتجات
{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Layout Demo -->
            {% include 'locations/includes/navbar.html' with which_nav="addresses" is_addresses=True %}
            <div class="row">
                <div class="col-xl">
                    <div class="card mb-4">
                        <div class="card-header col">
                            <div class="row mb-4">
                                <h5 class="mb-0">ابحث عن منتج</h5>
                            </div>
                            <div class="row my-4">
                                <small class="text-muted">يمكنك البحث باستخدام خانة واحدة أو اكثر</small>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'inventory:search_products' %}" method="GET">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}