{% extends 'base.html' %}
{% load static %}
{% block title %}
    إضافة مورد
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'sneat/vendor/libs/select2/select2.css' %}">
{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Layout Demo -->
            {% include 'purchases/includes/navbar.html' with which_nav="suppliers" is_add_supplier=True %}

            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="mb-0">إضافة مورد جديد</h5>
                </div>
                <div class="card-body">
                    <form action="{% url "purchases:add_supplier" %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="supplier_name_input" class="form-label">أسم المورد</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id=supplier_name_input"
                                            name="supplier_name_input"
                                            required
                                    />
                                </div>

                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="branch_name_choose_input" class="form-label">اختر الفرع</label>
                                    <select class="form-select"
                                            id="branch_name_choose_input"
                                            name="branch_name_choose_input"
                                            aria-label="Default select example required">
                                        <option disabled hidden selected>قائمة الأفرع</option>
                                        {% for branch in branches %}
                                            <option value="{{ branch.id }}">{{ branch.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label" for="supplier_phone_number_input">ادخل رقم هاتف
                                        المورد</label>
                                    <input type="text" oninput="numOnly(this.id);" maxlength="11"
                                           id="supplier_phone_number_input" name="supplier_phone_number_input"
                                           class="form-control bootstrap-maxlength-example"
                                           placeholder="************01"/>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="supplier_type_choose_input" class="form-label">اختر نوع المورد</label>
                                    <select class="form-select"
                                            id="supplier_type_choose_input"
                                            name="supplier_type_choose_input"
                                            aria-label="Default select example">
                                        <option disabled hidden selected>قائمة الأنواع</option>
                                        {% for type in types %}
                                            <option value="{{ type.id }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                            <div class="col">
                                <div class="mb-3">

                                    <div class="col ">
                                        <label for="address_choose_input" class="form-label">اختر العنوان</label>

                                    </div>
                                    <div class="col">

                                        <select class="form-select"
                                                id="address_choose_input"
                                                name="address_choose_input"
                                                aria-label="Default select example">
                                            <option disabled hidden selected>ابحث عن عنوان...</option>
                                            {% for address in addresses %}
                                                <option value={{ address.id }}>{{ address }}</option>

                                            {% endfor %}

                                        </select>
                                    </div>
                                    <div class="col">
                                        <small class="text-muted">يجب عليك تسجيل العنوان مسبقًا في الإدارات
                                            العناوين </small>
                                        <br/>
                                        <a class="ml-5" target="_blank"
                                           href="{% url "locations:add_address" %}"><small>إلى
                                            صفحة إضافة العناوين</small></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" id="address_table_row">
                            <h5 class="card-header">تفاصيل العنوان المختار</h5>

                            <div class="table-responsive">
                                <table class="table table-light" id="address_table">
                                    <thead>
                                    <tr>
                                        <th>المحافظة</th>
                                        <th>المنطقة</th>
                                        <th>الشارع</th>
                                        <th>معلومات اضافية</th>
                                    </tr>
                                    </thead>
                                    <tbody id="address_table_body">
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary m-2">إضافة</button>

                    </form>
                    <div class="row">
                        <hr>
                        <h5 class="card-header">جدول بآخر 10 موردين تم إضافتهم</h5>
                        <div class="table-responsive text-nowrap mini-table-container">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>الأسم</th>
                                    <th>الفرع</th>
                                    <th>النوع</th>
                                    <th>العنوان</th>
                                    <th>رقم الهاتف</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for supplier in latest_suppliers %}
                                    <tr>
                                        <td>
                                            <strong>{{ supplier.name }}</strong>
                                        </td>
                                        <td>
                                            {% for branch in supplier.branch.all %}
                                                <strong>{{ branch.name }}</strong><br/>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <strong>{{ supplier.type.name }}</strong>
                                        </td>

                                        <td>
                                            {% for location in supplier.location.all %}
                                                <strong>{{ location }}</strong><br/>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for phone_number in supplier.phone_number.all %}
                                                <strong>{{ phone_number.number }}</strong><br/>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                        data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a data-bs-toggle="modal"
                                                       data-bs-target="#edit_supplier_modal"
                                                       data-bs-id="{{ supplier.id }}"
                                                       data-bs-name="{{ supplier.name }}"
                                                       data-bs-type="{{ supplier.type.id }}"
                                                       id="edit_supplier"
                                                       class="dropdown-item" href="javascript:void(0);">
                                                        <i class="bx bx-edit-alt me-1"></i>
                                                        تعديل
                                                    </a>
                                                    {#  TODO change icons #}
                                                    <a data-bs-toggle="modal"
                                                       data-bs-target="#add_supplier_number_modal"
                                                       data-bs-id="{{ supplier.id }}"
                                                       data-bs-name="{{ supplier.name }}"
                                                       id="add_supplier_number"
                                                       class="dropdown-item" href="javascript:void(0);">
                                                        <i class="bx bx-edit-alt me-1"></i>
                                                        إضافة رقم هاتف
                                                    </a>
                                                    <a data-bs-toggle="modal"
                                                       data-bs-target="#add_supplier_branch_modal"
                                                       data-bs-id="{{ supplier.id }}"
                                                       data-bs-name="{{ supplier.name }}"
                                                       id="add_supplier_branch"
                                                       class="dropdown-item" href="javascript:void(0);">
                                                        <i class="bx bx-edit-alt me-1"></i>
                                                        إضافة المورد إلى فرع
                                                    </a>
                                                    <a class="dropdown-item"
                                                       href="javascript:void(0);">
                                                        <i class="bx bx-trash me-1"></i>
                                                        حذف
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit_supplier_modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">تعديل بيانات المورد</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url "purchases:edit_supplier" %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="edited_supplier_id_input" id="edited_supplier_id_input">
                        <div class="row">
                            <div class="col-5 m-2">
                                <label for="edited_supplier_name_input" class="form-label">أسم المورد</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="edited_supplier_name_input"
                                        name="edited_supplier_name_input"
                                        required
                                />
                            </div>
                            <div class="col-6 m-2">
                                <label for="edited_supplier_type_choose_input" class="form-label">اختر نوع
                                    المورد</label>
                                <select class="form-select"
                                        id="edited_supplier_type_choose_input"
                                        name="edited_supplier_type_choose_input"
                                        aria-label="Default select example">
                                    <option disabled hidden selected>قائمة الأنواع</option>
                                    {% for type in types %}
                                        <option value="{{ type.id }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                        <button type="submit" class="btn btn-primary">حفظ التغييرات</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_supplier_branch_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="add_supplier_branch_title">إضافة المورد إلى فرع</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url "purchases:add_supplier_to_branch" %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="edited_supplier_id_input" id="edited_supplier_id_input">
                        <div class="row">
                            <div class="col m-2">
                                <label for="edited_branch_name_choose_input" class="form-label">اختر الفرع</label>
                                <select class="form-select"
                                        id="edited_branch_name_choose_input"
                                        name="edited_branch_name_choose_input"
                                        aria-label="Default select example required">
                                    <option disabled hidden selected>قائمة الأفرع</option>
                                    {% for branch in branches %}
                                        <option value="{{ branch.id }}">{{ branch.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                        <button type="submit" class="btn btn-primary">حفظ التغييرات</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_supplier_number_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="add_supplier_phone_number_title">إضافة رقم هاتف للمورد</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url "purchases:add_supplier_phone_number" %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="edited_supplier_id_input" id="edited_supplier_id_input">
                        <div class="row">
                            <div class="col m-2">
                                <label class="form-label" for="edited_supplier_phone_number_input">ادخل رقم هاتف
                                    المورد</label>
                                <input type="text" oninput="numOnly(this.id);" maxlength="11"
                                       id="edited_supplier_phone_number_input" name="edited_supplier_phone_number_input"
                                       class="form-control bootstrap-maxlength-example"
                                       placeholder="************01"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                        <button type="submit" class="btn btn-primary">حفظ التغييرات</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'sneat/vendor/libs/select2/select2.js' %}"></script>
    <script>
        const addressChooseInput = $('#address_choose_input')
        const addressTableRow = $('#address_table_row')
        const addressTable = $('#address_table')
        const addressTableBody = $('#address_table_body')
        const editSupplierModal = $('#edit_supplier_modal')
        const addSupplierToBranchModal = $('#add_supplier_branch_modal')
        const addSupplierPhoneNumberModal = $('#add_supplier_number_modal')


        addressChooseInput.select2();
        $("#branch_name_choose_input").select2();
        $("#supplier_type_choose_input").select2();


        addressTableRow.hide()

        addressChooseInput.on('change', async (e) => {
            const address_value = e.target.value
            try {
                const response = await fetch(`/locations/address/get-address-data?address_id=${address_value}`)
                const data = await response.json();
                addressTableBody.append(`<tr><td>${data.governorate}</td><td>${data.district}</td><td>${data.street}</td><td>${data.other}</td></tr>`)
                addressTableRow.show()

            } catch (e) {
                console.error(e)
            }
        })

        editSupplierModal.on('show.bs.modal', (e) => {
            const target = e.relatedTarget

            const supplierId = target.dataset.bsId
            const name = target.dataset.bsName
            const typeId = target.dataset.bsType

            const supplierIdInput = editSupplierModal.find('#edited_supplier_id_input')
            const supplierNameInput = editSupplierModal.find('#edited_supplier_name_input')
            const supplierTypeIdInput = editSupplierModal.find('#edited_supplier_type_choose_input')

            supplierTypeIdInput.select2({
                dropdownParent: editSupplierModal
            })


            supplierTypeIdInput.val(typeId).trigger('change')
            supplierIdInput.val(supplierId)
            supplierNameInput.val(name)

        })
        addSupplierToBranchModal.on('show.bs.modal', (e) => {
            const target = e.relatedTarget

            const supplierId = target.dataset.bsId
            const name = target.dataset.bsName


            const supplierIdInput = addSupplierToBranchModal.find('#edited_supplier_id_input')
            const supplierBranchInput = addSupplierToBranchModal.find('#edited_branch_name_choose_input')
            const title = addSupplierToBranchModal.find('#add_supplier_branch_title')


            supplierBranchInput.select2({
                dropdownParent: addSupplierToBranchModal
            })
            supplierIdInput.val(supplierId)
            title.html("إضافة المورد " + name + " إلى فرع جديد")
        })
        addSupplierPhoneNumberModal.on('show.bs.modal', (e) => {
            const target = e.relatedTarget
            const supplierId = target.dataset.bsId
            const name = target.dataset.bsName

            const supplierIdInput = addSupplierPhoneNumberModal.find('#edited_supplier_id_input')
            const title = addSupplierPhoneNumberModal.find('#add_supplier_phone_number_title')
            title.html("إضافة رقم هاتف للمورد " + name)
            supplierIdInput.val(supplierId)
        })

    </script>
    <script>
        function numOnly(id) {
            // Get the element by id
            let element = document.getElementById(id);
            // Use numbers only pattern, from 0 to 9 with \-
            let regex = /[^0-9\-]/gi;
            // Replace other characters that are not in regex pattern
            element.value = element.value.replace(regex, "");
        }
    </script>
{% endblock %}