{% load static %}

<!doctype html>
<html lang="ar" dir="rtl" class="light-style">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>
    <!-- Sneat -->
    {% include 'sneat/header_links.html' %}
    <!--EndSneat-->
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap"
          rel="stylesheet">

    {% block styles %}{% endblock %}

</head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        {% include 'sneat/side_drawer.html' %}
        {% block body %}
        {% endblock %}
    </div>
</div>
<div class="layout-overlay layout-menu-toggle"></div>

{% include 'sneat/scripts.html' %}
{% block scripts %}{% endblock %}

</body>
</html>
