{% extends 'base.html' %}
{% block title %}
    اخرى
{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- Layout Demo -->
            {% include 'sales/includes/navbar.html' with which_nav="sales_invoices" is_others_sale_invoice=True %}
            <div class="row">
                <div class="col-xl ">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">إضافة قناة توزيع جديدة (بيــــــع)</h5>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'sales:add_sale_channel' %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="sale_channel_name_input" class="form-label">أسم قناة التوزيع
                                        (بيــــــع)</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id=sale_channel_name_input"
                                            name="sale_channel_name_input"
                                            placeholder="مثال: ابليكيشن, تليفون..."
                                            required
                                    />
                                </div>
                                <button type="submit" class="btn btn-primary">إضافة</button>

                            </form>
                            <hr>
                            <h5 class="card-header">جدول كل قنوات التوزيع (بيــــــع)</h5>
                            <div class="table-responsive text-nowrap mini-table-container">
                                <table class="table">
                                    <caption class="ms-4">
                                        عدد الأنواع: {{ sale_channels|length }}
                                    </caption>
                                    <thead>
                                    <tr>
                                        <th>الأسم</th>
                                        <th>أجراءات</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for channel in sale_channels %}
                                        <tr>
                                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                                                <strong>{{ channel.name }}</strong></td>

                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                            data-bs-toggle="dropdown">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item"
                                                           href="#"
                                                        ><i class="bx bx-trash me-1"></i> حذف</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl">

                </div>
            </div>
        </div>
{% endblock %}